{% extends "layout.html" %}

{% block body %}
        <p>We have {{ package_count }} packages.</p>
        Our recent packages include:<br />
        <table>
        {% set row_class = cycler("row1", "row2") %}
        {% for package in recent_packages %}
            <tr class="{{ row_class.next() }}">
                <td><a href="{{ url_for('packages', package_name=package['name']) }}">{{ package["name"] }}</a></td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}